.big-container {
  margin: -1.5rem auto 0;
  width: 95%;
}

.mission-table {
  border-collapse: collapse;
  width: 100%;
}

.mission-table th,
.mission-table td {
  border: 1px solid #808080;
  padding: 1rem;
  text-align: left;
}

.mission-table tr:nth-child(odd) {
  background-color: #d9d9d9;
}

.mission-table th {
  background-color: #f2f2f2;
  font-size: 2rem;
}

.mission-table td {
  font-size: 16px;
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}

.mission-table td:first-child {
  font-weight: bold;
  width: 12%;
}

.mission-table td:nth-child(3),
.mission-table td:last-child {
  width: 10%;
}

.mission-stats,
.mission-stats-red {
  display: inline-block;
  padding: 0.2rem;
  border-radius: 3px;
}

.mission-btn,
.mission-btn-red {
  border: 3px solid;
  background-color: transparent;
  height: 2rem;
  cursor: pointer;
}

.mission-btn {
  border-color: #f00;
  color: #f00;
}

.mission-btn-red {
  border-color: #5b5b5b;
  color: #5b5b5b;
}

.mission-btn:hover,
.mission-btn-red:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mission-stats {
  background-color: #329eeb;
  color: #fff;
}

.mission-stats-red {
  background-color: #5b5b5b;
  color: #fff;
}
